<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <head>
        <title>Add Equipment</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style2.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
</head>

<nav class="navbar navbar-inverse">

    <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/administrator/loadAdministratorHomepage}">Banger And Co</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a th:href="@{/administrator/loadAdministratorHomepage}">Home</a></li>
        <li><a th:href="@{/vehicle/home}">Add Vehicle</a></li>
        <li class="active"><a th:href="@{/equipment/loadEquipmentForm}">Add Equipment</a></li>
        <li><a th:href="@{/equipment/listEquipments}">List Equipment</a> </li>
        <li><a th:href="@{/administrator/manageCustomers}">Manage Customers</a></li>
        <li><a th:href="@{/vehicle/show}">View All Vehicles</a></li>
        <li><a th:href="@{/document/listDocuments}">View Documents</a></li>
        <li><a class="nav-link1" sec:authority="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
    </ul>
    </div>
</nav>

<body>

<!-- success message -->
<div th:if="${param.success}">
    <div class="alert alert-info">Equipment Added!
    </div>
</div>

<h1 align="center">Add Equipment Form</h1>
<div class="container">
    <section id="content">
        <form th:action="@{/equipment/addEquipment}" th:object="${equipment}" method="post">

            <div>
                <input type="text" class="form-control" id="equipmentName" name="equipmentName"
                       placeholder="Equipment Name" autofocus="autofocus"
                       th:field="*{equipmentName}" required
                >
            </div>

            <div>
                <input type="text" class="form-control" id="equipmentDescription" name="equipmentDescription"
                       placeholder="Equipment Description" autofocus="autofocus"
                       required th:field="*{equipmentDescription}"
                >
            </div>

            <div>
                <input type="text" class="form-control" id="price" name="price"
                       placeholder="Equipment Price" autofocus="autofocus"
                       required th:field="*{price}">
            </div>

            <!--            <div>-->
            <!--                <button align="center" class="btn btn-success" type="submit">Add Equipment</button>-->
            <!--            </div>-->

            <div>
                <input type="submit" name="equipment-submit" value="Add Equipment " id="Add-Equipment" />
            </div>

        </form><!-- form -->

    </section><!-- content -->
</div><!-- container -->
</body>
</html>