<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Customer Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<nav class="navbar navbar-inverse">

    <div th:if="${param.success}">
        <div class="alert alert-info">Booking Created!</div>
    </div>

    <div th:if="${param.failed}">
        <div class="alert alert-info">Vehicle Or Dates Have Already Been Booked! Please Select a Different Vehicle Or Date!</div>
    </div>

    <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/customer/loadCustomerHomepage}">Banger And Co</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a th:href="@{/customer/listCars}">List Vehicles</a></li>
        <li><a th:href="@{/customer/getBookingsForCustomer}">View My Bookings</a></li>
        <li><a class="nav-link1" sec:authority="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
    </ul>
    </div>
</nav>

<body>


</body>
</html>
